[Unit]
Description=Custos Integration Service

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ custos_deployment_dir }}/Custos-Integration-Services-Server-1.1-SNAPSHOT/bin/custos.sh
Restart=always
TimeoutSec=60
Type=Forking

[Install]
WantedBy=multi-user.target