spring.cloud.vault.token={{vault_token}}
spring.cloud.vault.scheme=https
spring.cloud.vault.host={{ hostvars['hashicorp'].ansible_host }}
spring.cloud.vault.port=8200

spring.cloud.vault.uri=http://{{ hostvars['hashicorp'].ansible_host }}:8201
spring.cloud.vault.authentication=token