apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
    cert-manager.io/cluster-issuer: letsencrypt-prod
  name: ${artifactId}-ingress-grpc
spec:
  rules:
    - host: {{ .Values.deployment.host }}
      http:
        paths:
          - path: /org.apache.custos.user.management.service.UserManagementService(/|$)(.*)
            backend:
              serviceName: user-management-service
              servicePort: grpc

  tls:
    - hosts:
        - {{ .Values.deployment.host }}
      secretName: tls-services-secret