/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

:root {
  --custos-space-0: 0;
  --custos-space-1: 0.25rem;
  --custos-space-2: 0.5rem;
  --custos-space-3: 0.75rem;
  --custos-space-4: 1rem;
  --custos-space-5: 1.25rem;
  --custos-space-6: 1.5rem;
  --custos-space-8: 2rem;
  --custos-space-10: 2.5rem;
  --custos-space-12: 3rem;
  --custos-space-16: 4rem;
  --custos-space-20: 5rem;
  --custos-space-24: 6rem;
}
