server {
  listen 80;
  listen [::]:80;

  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

  root /var/www/{{ domain }}/html;
  index index.html index.htm index.nginx-debian.html;
  server_name {{ domain }} www.{{ domain }};
  location / {
    try_files $uri $uri/ =404;
  }
}