[Unit]
Description=Keycloak service

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ user_home }}/run/keycloak.sh  start
ExecStop={{ user_home }}/run/keycloak.sh  stop
Restart=always
TimeoutSec=60
Type=Forking

[Install]
WantedBy=multi-user.target