<suite name="custos integration tests" verbose="2">
    <test name="custos integration tests">
        <parameter name="server-host" value="custos.scigap.org"/>
        <parameter name="server-port" value="31499"/>
        <parameter name = "client-id" value="custos-yojizqktdk6jiuccn04s-10000504" />
        <parameter name = "client-sec" value="T7yyBMxdqEtkZ6CINj1Jn5ZU3lgdS0UIlleezeks"/>
        <parameter name = "admin-username" value="custos@airavata"/>
        <parameter name="admin-password" value="custos1234"/>
        <groups>
            <define name="tenant-management-tests">
                <include name="tenant-management" />
            </define>
            <define name="user-management-tests">
                <include name="user-management" />
            </define>
            <dependencies>
                <group depends-on="tenant-management-tests" name="user-management-tests"></group>
            </dependencies>
            <run>
                <include name="tenant-management-tests" />
                <include name="user-management-tests" />
            </run>
        </groups>
        <classes>
            <class name="org.apache.custos.integration.tests.TenantManagementTests" />
            <class name="org.apache.custos.integration.tests.UserManagementTests" />
        </classes>
    </test>
</suite>