apiVersion: networking.k8s.io/v1 # for versions before 1.14 use extensions/v1beta1
kind: Ingress
metadata:
  name: ${artifactId}-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /agent-management/$2
    cert-manager.io/cluster-issuer: {{ .Values.deployment.clusterIssuer }}
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: {{ .Values.deployment.host }}
      http:
        paths:
          - path: /agent-management(/|$)(.*)
            backend:
              serviceName: agent-management-service
              servicePort: envoyhttp

  tls:
    - hosts:
        - {{ .Values.deployment.host }}
      secretName: tls-services-secret