body,
html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  margin: 0;
  height: 100%;
}

body {
  background: #ff6f01;
  background: -webkit-linear-gradient(bottom, #ff6f01, #ffb688);
  background: -moz-linear-gradient(bottom, #ff6f01, #ffb688);
  background: -o-linear-gradient(bottom, #ff6f01, #ffb688);
  background: linear-gradient(to top, #ff6f01, #ffb688);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.htrc-text {
  color: #ff6f01;
}

a {
  color: #ff6f01;
}

a:hover,
a:active,
a:focus {
  color: #ffb688;
}

.alert {
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-error {
    color: red;
}

.welcome {
  width: 460px;
  margin: 0 auto;
  padding-top: 5%;
}

.welcome-text {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: #dc7729;
  font-size: 16px;
}


.welcome-text > p {
  line-height: 24px;
  text-align: center;
}

.login-content {
  padding: 2% 0 0;
}
.login {
  width: 460px;
  padding: 0 0;
  margin: auto;
}

.login-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 460px;
  margin: 0 auto 10px;
  padding: 45px;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form > h3 {
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333;
}

.login-footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  width: 360px;
  padding: 0px;
  margin: auto;
  color: #fff;
}

.login-form > form > input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form > form > button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff6f01;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form > form > button:hover,
.login-form > form > button:active,
.login-form > form > button:focus {
  background: #ffb688;
}

.link-group {
  font-size: 14px;
  text-align: center;
}
