apiVersion: networking.k8s.io/v1 # for versions before 1.14 use extensions/v1beta1
kind: Ingress
metadata:
  name: ${artifactId}-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /group-management/$2
    cert-manager.io/cluster-issuer: {{ .Values.deployment.clusterIssuer }}
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - http:
        paths:
          - path: /group-management(/|$)(.*)
            pathType: "Prefix"
            backend:
              service:
                  name: group-management-service
                  port:
                    name: envoyhttp