#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership. The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
#  specific language governing permissions and limitations
#  under the License.
#

grpc.port={{ custos_int_grpc_port }}
server.port={{ custos_int_server_port }}
##spring.zipkin.baseUrl={{ custos_int_spring_zipkin_baseUrl }}
spring.application.name={{ custos_int_spring_application_name }}
##spring.sleuth.sampler.probability={{ custos_int_spring_sleuth_sampler_probability }}
spring.main.allow-bean-definition-overriding={{ custos_int_spring_main_allow_bean_definition_overriding }}
management.security.enabled={{ custos_int_management_security_enabled }}
management.endpoints.web.exposure.include={{ custos_int_management_endpoints_web_exposure_include }}
management.endpoint.metrics.enabled={{ custos_int_management_endpoint_metrics_enabled }}
spring.jmx.enabled={{ custos_int_spring_jmx_enabled }}

spring.profiles.active={{ custos_int_spring_profiles_active }}
logging.level.root={{ custos_int_logging_level_root }}

core.services.server.port={{ custos_int_core_services_server_port }}
core.services.server.hostname={{ custos_int_core_services_server_hostname }}
iam.server.url={{ custos_int_iam_server_url }}
tenant.base.uri={{ custos_int_tenant_base_uri }}