<html>
    <head>
        <title>Welcome to {{ inventory_hostname }}!</title>
    </head>
    <body>
        <h1>Success!  The {{ inventory_hostname }} server block is working!</h1>
    </body>
</html>