upstream keycloak {
  server localhost:8080 ;
}
server {
   listen 80;
   server_name bm-dev-2.usecustos.org;
   return 301 https://bm-dev-2.usecustos.org$request_uri;
}
server {
  listen 443 ssl;

  # The hostname respond to
  server_name {{ domain }}
  ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
  ssl_prefer_server_ciphers on;

  add_header 'Access-Control-Allow-Origin' '*' always;
  add_header 'Access-Control-Allow_Credentials' 'true';
  add_header 'Access-Control-Allow-Headers' 'Authorization,authorization, Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range,user-token';
  add_header  'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH';
  rewrite_log on;
  error_log   /var/log/nginx/error.log;

  location /auth {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_pass         http://keycloak;
    add_header Strict-Transport-Security "max-age=31536000" always;
    add_header 'Content-Security-Policy' 'upgrade-insecure-requests';
  }
}