server {
  listen 80;
  listen [::]:80;
  root /var/www/{{ domain }}/html;
  index index.html index.htm index.nginx-debian.html;
  server_name {{ domain }} www.{{ domain }};
  location / {
    try_files $uri $uri/ =404;
  }
}